

 #nav-content
 {
 background-color: red;
 }
 #ul-content
 {
     list-style: none;
     display: flex;
     width: 30%;
 }
 #list-content a
 {
     text-decoration: none;
     color: white;
 }
 #list-content
 {
     padding: 30px;
     
     
 }
 

